.filter {
  margin: 0 12.5%;
  margin-top: 3%;
}

.form {
  height: 20vh;
}

.select {
  -webkit-appearance: none;
  height: 44px;
  width: 28%;
  background-color: white;
  border-radius: 4px;
  padding: 10px;
  font-size: 16px;
  margin-right: 10px;
  cursor: pointer;
  background-image: url("../../assets/chevron-arrow-down.svg");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;
  background-origin: content-box;
}

.submit__btn {
  height: 44px;
  background: none;
  width: 40%;
  border-radius: 4px;
  cursor: pointer;
  /* border: 1px solid grey; */
  border-color: rgb(166, 166, 166);
  font-size: 1rem;
}















/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .filter {
    margin: 0 2%;
    margin-top: 3%;
  }

  .form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .select {
    background-size: 15px;
  }

  .select, .submit__btn {
    width: 33%;
    font-size: 15px;
  }

}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .filter {
    margin: 0 2%;
    margin-top: 3%;
  }

  .form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
  }

  .select {
    background-size: 15px;
  }

  .select, .submit__btn {
    margin-top: 4%;
    width: 100%;
    font-size: 15px;
  }
}