.filter {
  margin: 0 12.5%;
  margin-top: 3%;
}

.form {
  height: 20vh;
}

.select {
  -webkit-appearance: none;
  height: 44px;
  width: 28%;
  background-color: white;
  border-radius: 4px;
  padding: 10px;
  font-size: 16px;
  margin-right: 10px;
  cursor: pointer;
  background-image: url("../../assets/chevron-arrow-down.svg");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;
  background-origin: content-box;
}

.submit__btn {
  height: 44px;
  background: none;
  width: 40%;
  border-radius: 4px;
  cursor: pointer;
  /* border: 1px solid grey; */
  border-color: rgb(166, 166, 166);
  font-size: 1rem;
}